.location {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.rotate-pin {
    width: 20px;
    height: 20px;
    animation: rotate 2s infinite linear;
}

.location-info {
    font-size: 1em;
    color: #555;
    line-height: 1;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

